.board {
   border:2px solid black;
   user-select: none; 
   width: fit-content;
   aspect-ratio: 1;
}

.cell {
    width: 27px;
    aspect-ratio: 1;
    background-color: aliceblue;
}

.cell.snake {
    background-color: teal;
}

.cell.snake.head{
    border-radius: 50%;
}

.above_board {
    height: 45px;
}

.side_of_board {
    width: 150px;
}



